# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Cache
.cache/
tmp/
scratch/
